<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        .warning{
            color:red;
        }
    </style>
</head>
<body>
    <h1>Reset your password <%= name %></h1>
    <p>You requested to reset your password.</p>
    <p>Please click the link bellow to reset your password.</p>
    <a href="<%= link %>">Password reset</a>
    <p class="warning">
        This link is valid only 15 minutes and one time usage.
    </p>
</body>
</html>